
body {
background-color: blanchedalmond;
}

.column-layout {
    max-width: 1300px;
    background-color: aquamarine;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}

.sidebar-one {
    flex:1;
    order:1; 
}

.sidebar-two{
    flex: 1;
    order: 3;
}

.main-column {
    flex: 2;
    order: 2;
}

.cointainer {
    max-width: 1400px;
    margin: 40px auto 0 auto;
}

.call-out {
    padding: 20px;
    margin-bottom: 20px;
}

.call-out:nth-child(1) {
    background-color: red;
}

.call-out:nth-child(2) {
    background-color: pink;
}

.call-out:nth-child(3) {
    background-color: green;
}